@import url("//s3.amazonaws.com/citrix-cdn/can.cdn/marketing/assets/fonts/citrix-fonts.css?v=dta-home-page-redesign-4");
      
/* go on with normal style definitions */
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video ,input[type="text"]{
    font-family: 'citrixsans-regular';
}

h1[id]:before, h2[id]:before, h3[id]:before, h4[id]:before, h5[id]:before, h6[id]:before {
    content: "";
    display: block;
    margin-top: -75px;
    height: 75px;
    pointer-events: none;
}

h1{
    font-family: 'citrixsans-light';
	font-size:36px;
	color:#000000;
	padding-left:0px;
}

h2{
    font-family: 'citrixsans-bold';
	font-size:24px;
	padding-left:20px;
	color:#000000;
}

h3{
    font-family: 'citrixsans-light';
	font-size:18px;
	padding-left:24px;
	color:#000000;
}

h4{
    font-family: 'citrixsans-semibold';
	font-size:16px;
	padding-left:18px;
	color:#000000;
}

li>p{
    font-family: 'citrixsans-regular';
	font-size:16px;
	padding-left:0px;
	color:#000000;
}


li.toctree-l3,li.toctree-l4{
	font-size:14px;
}

ul.current{
	padding-left:0px;
}

ul,ol{
	padding-left:26px;
}

li{
    font-family: 'citrixsans-regular';
	font-size:16px;
	padding-left:0px;
	color:#000000;
}

table{
	margin-left:26px;
}

table > tbody > tr> td> p{
	padding-left:0px;
	
}

p{
    font-family: 'citrixsans-regular';
	font-size:16px;
	padding-left:26px;
	color:#000000;
}
/*
#rtd-search-form{
	
	display:none;
}
*/
.rightAlign{
	display:none;
	
}

pre {
    display: block;
    padding: 5px;
    margin: 0 0 10px;
	overflow-x: auto;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all !important;
    word-wrap: break-word !important;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

code, kbd, pre, samp  {
    font-family: monospace,serif !important;
    font-size: 12px !important;
}
p code {
    word-wrap: break-word;
}

nav.stickynav{
  background-image: none !important;
  background: #fff !important
}

.wy-nav-content{
  background: #fff !important;  padding:0px !important;max-width: 1000px
}
.wy-body-for-nav {
    background: left repeat-y #fff;
    background-size: 300px 1px;
    background: none !important
}
.header-top{
  background: #fff !important;
  border-bottom: 2px solid #DBDBDB !important;
  border-top:10px solid #000;
  height: 88px
}
.logo-citrix{
      height: 34px;
  
}
.header-elements li{
  list-style-type: none;
  display: inline-block;
}

.logo-position{
    position: relative;
    top: 15px;
}
.wy-grid-for-nav {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 100px
}

input[type=text] {
  box-shadow: none !important
}
.header-top-right{
  float: right;padding-top: 10px;padding-right: 10px;    width: 50%;
    text-align: right;
}
.header-top-left {
    float: left;
    padding: 3px 0 3px 40px;
    width: 50%;
	margin-top: 4px;
}
.text-content{
  line-height: 30px;
}

.wy-nav-content-wrap {
    margin-left: 270px;
    max-width: none;
    background: #ffffff;
}
.wy-nav-shift{
  top: 80px;padding-top:20px;
}
/*.wy-grid-for-nav{top:90px;}*/
.errspan {
 float: right;
    margin-right: 0px;
    margin-top: 8px;
    position: relative;
    z-index: 2;
  color:#227be3 !important;cursor: pointer;
    left: -20px;
}
.wy-nav-side {
    width: 320px;
}
.wy-nav-content-wrap {
    margin-left: 350px;
    max-width: none;
    background: #ffffff;
}
.searchdocs{
  border-radius: 5px !important;
  width: 400px;
  padding-top: 15px;
  padding-bottom: 15px;height: 35px
}
.toclink{
  color: #000 !important
}
.wy-menu-vertical li.on a, .wy-menu-vertical li.current a{
      color: #0b78bc !important;
}
@media screen and (min-width: 1400px){
.wy-nav-content {
    margin: 0;
    background: #fff;
}
}
@media screen and (max-width: 768px){
.header-top-left img {
    height: 25px;
    width: auto;
}
.wy-nav-content-wrap{
  margin-left: 0px
}
.searchdocs{
  border-radius: 5px !important;
  width: 200px;
  padding-top: 15px;
  padding-bottom: 30px;height: 35px
}
.header-top-right{
  padding-right: 0px;
}
.section{
	padding-left:15px;
	padding-right:15px;
	
}

}

@media screen and (max-width: 480px){

.searchdocs{
  border-radius: 5px !important;
  width: 100px;
  padding-top: 15px;
  padding-bottom: 30px;height: 35px
}

}

.wy-menu-vertical li.current ul li a {
   padding: 0 2em;
   font-size: 15px;
   line-height: 25px;
}


/*   Adding new CSS   */
.file-format{
  display: inline-block;width: 100%
}

.file-types{
  display: inline-block;
}
.file-types li{
  list-style-type: none;
  display: inline-block;
}
nav.stickynav{
  margin-top:0px !important;
  border-right: 2px solid #f0f0f0
}

.rst-content .admonition-todo .admonition-title, .rst-content .admonition-todo .wy-alert-title, .rst-content .attention .admonition-title, .rst-content .attention .wy-alert-title, .rst-content .caution .admonition-title, .rst-content .caution .wy-alert-title, .rst-content .warning .admonition-title, .rst-content .warning .wy-alert-title, .rst-content .wy-alert-warning.danger .admonition-title, .rst-content .wy-alert-warning.danger .wy-alert-title, .rst-content .wy-alert-warning.error .admonition-title, .rst-content .wy-alert-warning.error .wy-alert-title, .rst-content .wy-alert-warning.hint .admonition-title, .rst-content .wy-alert-warning.hint .wy-alert-title, .rst-content .wy-alert-warning.important .admonition-title, .rst-content .wy-alert-warning.important .wy-alert-title, .rst-content .wy-alert-warning.note .admonition-title, .rst-content .wy-alert-warning.note .wy-alert-title, .rst-content .wy-alert-warning.seealso .admonition-title, .rst-content .wy-alert-warning.seealso .wy-alert-title, .rst-content .wy-alert-warning.tip .admonition-title, .rst-content .wy-alert-warning.tip .wy-alert-title, .rst-content .wy-alert.wy-alert-warning .admonition-title, .wy-alert.wy-alert-warning .rst-content .admonition-title, .wy-alert.wy-alert-warning .wy-alert-title,.rst-content .hint .admonition-title, .rst-content .hint .wy-alert-title, .rst-content .important .admonition-title, .rst-content .important .wy-alert-title, .rst-content .tip .admonition-title, .rst-content .tip .wy-alert-title, .rst-content .wy-alert-success.admonition-todo .admonition-title, .rst-content .wy-alert-success.admonition-todo .wy-alert-title, .rst-content .wy-alert-success.attention .admonition-title, .rst-content .wy-alert-success.attention .wy-alert-title, .rst-content .wy-alert-success.caution .admonition-title, .rst-content .wy-alert-success.caution .wy-alert-title, .rst-content .wy-alert-success.danger .admonition-title, .rst-content .wy-alert-success.danger .wy-alert-title, .rst-content .wy-alert-success.error .admonition-title, .rst-content .wy-alert-success.error .wy-alert-title, .rst-content .wy-alert-success.note .admonition-title, .rst-content .wy-alert-success.note .wy-alert-title, .rst-content .wy-alert-success.seealso .admonition-title, .rst-content .wy-alert-success.seealso .wy-alert-title, .rst-content .wy-alert-success.warning .admonition-title, .rst-content .wy-alert-success.warning .wy-alert-title, .rst-content .wy-alert.wy-alert-success .admonition-title, .wy-alert.wy-alert-success .rst-content .admonition-title, .wy-alert.wy-alert-success .wy-alert-title{
  background: transparent !important;
  color: black;font-size: 16px;
  margin-top: 5px;

}

.rst-content .admonition-todo, .rst-content .attention, .rst-content .caution, .rst-content .warning, .rst-content .wy-alert-warning.danger, .rst-content .wy-alert-warning.error, .rst-content .wy-alert-warning.hint, .rst-content .wy-alert-warning.important, .rst-content .wy-alert-warning.note, .rst-content .wy-alert-warning.seealso, .rst-content .wy-alert-warning.tip, .wy-alert.wy-alert-warning,.rst-content .hint, .rst-content .important, .rst-content .tip, .rst-content .wy-alert-success.admonition-todo, .rst-content .wy-alert-success.attention, .rst-content .wy-alert-success.caution, .rst-content .wy-alert-success.danger, .rst-content .wy-alert-success.error, .rst-content .wy-alert-success.note, .rst-content .wy-alert-success.seealso, .rst-content .wy-alert-success.warning, .wy-alert.wy-alert-success{
  background: #f0f0f0;
}
.rst-content .warning{
  border-left: 10px solid #1879B9 !important;
}
.rst-content .tip{
  border-left: 10px solid #70D28C !important;
}
li.toctree-l1 > a.toctree-l1-a{
	padding-left:0px;padding-bottom: 0px;font-size:16px
}
ul.subnav > li{
	padding-bottom:3px;
}

li.toctree-l1{
	padding-bottom:3px;
}
.rst-content .section ul li p:last-child, .rst-content .section ul li ul, .rst-content .toctree-wrapper ul li p:last-child, .rst-content .toctree-wrapper ul li ul, .wy-plain-list-disc li p:last-child, .wy-plain-list-disc li ul, article ul li p:last-child, article ul li ul{
  font-size: 13px !important
}

.wy-menu.wy-menu-vertical{
  position: relative;
  margin-left: 10px;
  margin-top: 25px;
}
span.left-nav-parent-pages-actual:before {
    content: "";
    display: inline-block !important;
    background: #f4f4f4 url(../img/left-nav-up-arrow.png) no-repeat 10% 80%;
    width: 15px;
    height: 16px;
    margin: 0 -20px 0 5px;
}