/*
 * Tweak the overal size to better match RTD.
 */
body {
    font-size: 100%;
}

h3, h4, h5, h6 {
    color: #2980b9;
    font-weight: 600
}

/*
 * Sphinx doesn't have support for section dividers like we do in
 * MkDocs, this styles the section titles in the nav
 *
 * https://github.com/mkdocs/mkdocs/issues/175
 */

.expli , .expul{
    display: inline-table !important;
    padding-left: 5px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
}

.expul i.fa{
	padding-right:5px !important;
}
.subnav li.toctree-l1 {
	display:none;
}
.wy-menu-vertical span {
    line-height: 18px;
    position: relative;
    font-size: 90%;
    color: #404545;
	font-weight: bold;
}

.wy-menu-vertical .subnav a {
    padding: 0.4045em 2.427em;
	color: #404545;
}

/*
 * Long navigations run off the bottom of the screen as the nav
 * area doesn't scroll.
 *
 * https://github.com/mkdocs/mkdocs/pull/202
 */
.wy-nav-side {
    height: 100%;
    overflow-y: auto;
}



/*
 * Fix wrapping in the code highlighting
 *
 * https://github.com/mkdocs/mkdocs/issues/233
 */
code {
    white-space: pre;
}

/*
 * Wrap inline code samples otherwise they shoot of the side and
 * can't be read at all.
 *
 * https://github.com/mkdocs/mkdocs/issues/313
 */
p code {
    word-wrap: break-word;
}

/*
 * The CSS classes from highlight.js seem to clash with the
 * ReadTheDocs theme causing some code to be incorrectly made
 * bold and italic.
 *
 * https://github.com/mkdocs/mkdocs/issues/411
 */
code.cs, code.c {
    font-weight: inherit;
    font-style: inherit;
}

/*
 * Fix some issues with the theme and non-highlighted code
 * samples. Without and highlighting styles attached the
 * formatting is broken.
 *
 * https://github.com/mkdocs/mkdocs/issues/319
 */
.no-highlight {
  display: block;
  padding: 0.5em;
  color: #333;
}


/*
 * Additions specific to the search functionality provided by MkDocs
 */

#mkdocs-search-results article h3
{
    margin-top: 23px;
    border-top: 1px solid #E1E4E5;
    padding-top: 24px;
}

#mkdocs-search-results article:first-child h3 {
    border-top: none;
}

#mkdocs-search-query{
    width: 100%;
    border-radius: 50px;
    padding: 6px 12px;
    border-color: #D1D4D5;
}

.wy-menu-vertical li ul {
    display: inherit;
}

.wy-menu-vertical li ul.subnav ul.subnav{
    padding-left: 1em;
}

/*******************************CSS added by Gaurav**********************/
.rst-current-version {padding:0 !important}
.rst-current-version .prev {width:50%;padding:10px;border-right:1px solid #cdcece;background:#404545  none repeat scroll 0 0;display:inline-block;float:left;text-align:center;}
.rst-current-version .next {width:50%;padding:10px;border-left:1px solid #cdcece;background:#404545  none repeat scroll 0 0;display:inline-block;float:right;text-align:center;}
.rst-current-version span a {color:#5EBEE1;font-size:10px;font-weight:700;text-transform:uppercase}
.rst-current-version span a .fa{color:#5EBEE1 !important;padding:0 5px}
.wy-nav-side{background: #cdcece}
.rst-versions .rst-current-version{background: #404545;width:270px;float:left}
.rst-versions {border: 0}
nav.stickynav {background-image: url('../img/grey_calm.png');background-repeat:no-repeat;background-position:center 75%;background-size:100%;top:70px}
.wy-nav-side {width:270px}
.rst-versions {width:100%}
.wy-nav-content-wrap {margin-left:270px;max-width:690px;width:56%;background:#ffffff}
.list-inline {display:inline-block;padding:9px}
.list-inline a {color: #A2C7D0;font-weight: 700}
.list-inline a:visited {color:#0F3450}
.social-links, .inner-pages {float:left;padding-left:40px;}
.social-links a, .inner-pages a{color:#5EBEE1 !important;font-size:11px}
.social-links i {font-size:18px;padding:0 5px}
.wy-side-nav-search input[type="text"] {border-radius:5px;border:0;box-shadow:none;background:#99A3A2;width:90%;color:#fff;padding-left:25px}
.wy-side-nav-search {margin:0;background:#cdcece;}
/*#rtd-search-form i {position:absolute;top:17px;left:30px;color: #B9C1C1}*/
.header-top {width:100%;position:fixed;top:0;left:0;height:70px;border-bottom:2px solid #2A5B8C;background:#ffffff;z-index:400}
.header-top-left {float:left;padding:3px 0 3px 25px;width:270px}
.header-top-left img{padding: 0}
.header-top-right {float:left;padding-left:30px ; padding-top: 30px}
/*.wy-grid-for-nav {top:70px} */
.wy-menu-vertical a:hover, .wy-menu-vertical li.current {background:#fff}
.wy-menu-vertical li.on a, .wy-menu-vertical li.current a{border:0;color:#0C447C}
.wy-menu-vertical li.current ul li a{padding:0 2em;font-size:11px}
.built-with {display:none}
.wy-menu-vertical a {color: #404545}
.wy-side-nav-search {display: none}
.animated_button {
    border: #CDCECE;
    color: #ffffff !important;
    font-size: 30px;
    height: 42px;
    line-height: 30px;
    position: relative;
    text-align: center;
    transition: color 0.3s ease 0s;
    width: 100px;
    z-index: 1;
	padding:6px 12px
}
.animated_button:before {
	border-radius: inherit;
    box-shadow: 0 0 0 35px #CDCECE inset;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scale3d(0.9, 0.9, 1);
    transition: box-shadow 0.3s ease 0s, transform 0.3s ease 0s;
    width: 100%;
    z-index: -1;
}
.animated_button:hover::before {
	box-shadow: 0 0 0 2px #37474f inset;
	transform: scale3d(1, 1, 1);
	color: #37474f
}
.rst-content .section h1, .rst-content .section h2 {padding-top: none}
img {padding: 20px 0}
@media screen and (max-width:768px){
.header-top-left {width: auto}
.header-top-left img{height: 60px; width: auto}
.header-top-right {float: right; padding-left: 0; padding-right:10px}
.wy-nav-content-wrap {margin-left: 0;width: 100%}
.wy-side-nav-search input[type="text"] {width: 100%}
.header-top {position: absolute}
}
.codehilite code, .codehilite pre{color:#3F3F3F;background-color:#F7F7F7;
overflow: auto;
box-sizing: border-box;

    padding: 0.01em 16px;
    padding-top: 0.01em;
    padding-right-value: 16px;
    padding-bottom: 0.01em;
    padding-left-value: 16px;
    padding-left-ltr-source: physical;
    padding-left-rtl-source: physical;
    padding-right-ltr-source: physical;
    padding-right-rtl-source: physical;

border-radius: 2px !important;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;

border: 1px solid #CCC !important;
    border-top-width: 1px;
    border-right-width-value: 1px;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-bottom-width: 1px;
    border-left-width-value: 1px;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-top-style: solid;
    border-right-style-value: solid;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-bottom-style: solid;
    border-left-style-value: solid;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-top-color: #CCC;
    border-right-color-value: #CCC;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-bottom-color: #CCC;
    border-left-color-value: #CCC;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100% 100% 100% 100%;
    border-image-width: 1 1 1 1;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;}
.codehilite .hll { background-color: #ffffcc }
.codehilite .c { color: #999988; font-style: italic } /* Comment */
.codehilite .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.codehilite .k { color: #000000; font-weight: bold } /* Keyword */
.codehilite .o { color: #000000; font-weight: bold } /* Operator */
.codehilite .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.codehilite .cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.codehilite .c1 { color: #999988; font-style: italic } /* Comment.Single */
.codehilite .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.codehilite .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.codehilite .ge { color: #000000; font-style: italic } /* Generic.Emph */
.codehilite .gr { color: #aa0000 } /* Generic.Error */
.codehilite .gh { color: #999999 } /* Generic.Heading */
.codehilite .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.codehilite .go { color: #888888 } /* Generic.Output */
.codehilite .gp { color: #555555 } /* Generic.Prompt */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #aaaaaa } /* Generic.Subheading */
.codehilite .gt { color: #aa0000 } /* Generic.Traceback */
.codehilite .kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.codehilite .kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.codehilite .kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.codehilite .kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.codehilite .kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.codehilite .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.codehilite .m { color: #009999 } /* Literal.Number */
.codehilite .s { color: #d01040 } /* Literal.String */
.codehilite .na { color: #008080 } /* Name.Attribute */
.codehilite .nb { color: #0086B3 } /* Name.Builtin */
.codehilite .nc { color: #445588; font-weight: bold } /* Name.Class */
.codehilite .no { color: #008080 } /* Name.Constant */
.codehilite .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.codehilite .ni { color: #800080 } /* Name.Entity */
.codehilite .ne { color: #990000; font-weight: bold } /* Name.Exception */
.codehilite .nf { color: #990000; font-weight: bold } /* Name.Function */
.codehilite .nl { color: #990000; font-weight: bold } /* Name.Label */
.codehilite .nn { color: #555555 } /* Name.Namespace */
.codehilite .nt { color: #000080 } /* Name.Tag */
.codehilite .nv { color: #008080 } /* Name.Variable */
.codehilite .ow { color: #000000; font-weight: bold } /* Operator.Word */
.codehilite .w { color: #bbbbbb } /* Text.Whitespace */
.codehilite .mf { color: #009999 } /* Literal.Number.Float */
.codehilite .mh { color: #009999 } /* Literal.Number.Hex */
.codehilite .mi { color: #009999 } /* Literal.Number.Integer */
.codehilite .mo { color: #009999 } /* Literal.Number.Oct */
.codehilite .sb { color: #d01040 } /* Literal.String.Backtick */
.codehilite .sc { color: #d01040 } /* Literal.String.Char */
.codehilite .sd { color: #d01040 } /* Literal.String.Doc */
.codehilite .s2 { color: #d01040 } /* Literal.String.Double */
.codehilite .se { color: #d01040 } /* Literal.String.Escape */
.codehilite .sh { color: #d01040 } /* Literal.String.Heredoc */
.codehilite .si { color: #d01040 } /* Literal.String.Interpol */
.codehilite .sx { color: #d01040 } /* Literal.String.Other */
.codehilite .sr { color: #009926 } /* Literal.String.Regex */
.codehilite .s1 { color: #d01040 } /* Literal.String.Single */
.codehilite .ss { color: #990073 } /* Literal.String.Symbol */
.codehilite .bp { color: #999999 } /* Name.Builtin.Pseudo */
.codehilite .vc { color: #008080 } /* Name.Variable.Class */
.codehilite .vg { color: #008080 } /* Name.Variable.Global */
.codehilite .vi { color: #008080 } /* Name.Variable.Instance */
.codehilite .il { color: #009999 } /* Literal.Number.Integer.Long */
